@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  &NotFound {
    min-height: 250px;
  }
  &Info {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 17px;
    @media (max-width: 560px) {
      padding: 50px 30px;
    }
  }
  &Search {
    display: block;
    border: none;
    border-bottom: 2px solid #37562b;
    margin: 0 0 60px auto;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    padding-left: 10px;
    width: 200px;
    outline: none;
    @media (max-width: 1000px) {
      margin: 0 auto 40px auto;
    }
  }
  &Link {
    color: inherit;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.15s;
    text-decoration: underline;
    text-decoration-color: transparent;
    &:hover {
      text-decoration-color: #000;
    }
  }
  &Box {
    font-family: 'Bitter', serif;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    column-gap: 60px;
    @media (max-width: 1000px) {
      flex-direction: column;
      text-align: center;
    }
    &Item {
      @media (max-width: 1000px) {
        padding: 15px;
      }
      span {
        font-size: 14px;
        color: rgb(164, 135, 4);
      }
    }
  }
}
