.root {
  padding: 150px 0;
  flex-grow: 1;
  &Text {
    width: 50%;
  }
  &Box {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &Link {
    text-decoration: none;
    color: #707070;
    transition: all 0.4s;

    &:hover {
      color: #000;
    }
  }
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  img {
    max-width: 500px;

    object-fit: cover;
  }
}
