html,
body,
#root {
  height: 100%;
}

.active {
  color: #433891;
}

ul,
li {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.navbar-expand .navbar-nav .nav-link {
  padding: 4px;
}
